body{
    background-image: url("../R.png");
    background-color: #cccccc;
    padding: 100px;
    text-align: center;
}

:root {
  --success: #00b894;
  --progress: #e17055;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.container {
  max-width: 720px;
  margin: 0px auto;
  width: 100%;
}

.text-center { text-align:center; }

.progressbar-wrapper {
  background-color: #dfe6e9;
  color: white;
  border-radius: 15px;
  width: 100%;
}

.progressbar {
  background-color: var(--progress);
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.progressbar[title="downloading"] {
   background-color: green;
}

.progressbar[title="downloaded"] {
   background-color: green;
}
  
.mp4 {
  width: 0.2%;
}

.mp3 {
  width: 100%;
}

.input-field{
    margin: 20px 50px;
    padding:40px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px 0px grey;
}
#transaction-area{
    display: none;
}
.row{
    margin: 50px 0px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    color: white;
    border-radius: 10px;
    padding: 30px;
}
.status:hover{
    box-shadow: 5px 5px 10px grey;
    transition: box-shadow 0.2s;
}
.balance-status{
    margin: 20px;
    padding: 20px;
    border-radius: 7px;
}
/* MEDIA QUERY */
@media (max-width: 689px) {
    body{
        padding: 10px;
    }
    #login-area{
        width: 80%;
        margin: auto;
    }
    .input-field{
        width: 100%;
        padding: 11px;
        position: relative;
        left: -50px;
    }
}
